In [ ]:
#14-07-2024
#getting started
#positive or negative number
a=int(input())
if a>=0:
  print("positive")
else:
  print("negative")

76767
positive

In [ ]:
num=int(input())
m=int(input())
if num%m==0:
  print(num,m)
else:
  next=num+(m-num%m)
  print(next)

In [ ]:
#sum of odd digits and sum of even digits
def evenodd(n):
  d=str(n)
  sum_odd=0
  sum_even=0
  for i in d:
    if int(i)%2==0:
      sum_even+=int(i)
    else:
      sum_odd+=int(i)
  if sum_even>sum_odd:
    return sum_even
  else:
    return sum_odd
n=int(input())
evenodd(n)

12378

11

In [ ]:
def factorial(n,m):
  fact1=1
  fact2=1
  if m<=n and n-m<=10:
    for i in range(1,n+1):
      fact1*=i
    for j in range(1,m+1):
      fact2*=j
  return fact1//fact2
n=int(input())
m=int(input())
factorial(n,m)

5
2

60

In [ ]:
import math
def factorial(n,m):
  fact1=1
  fact2=1
  if m<=n and n-m<=10:
    fact1=math.factorial(n)
    fact2=math.factorial(m)
  return fact1//fact2
n=int(input())
m=int(input())
factorial(n,m)

5
2

60

In [ ]:
#even or odd
a=int(input())
if a%2==0:
  print("even")
else:
  print("odd")

8787
odd

In [ ]:
#sum of first n natural numbers
n=int(input("enter no of natural numbers:"))
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

enter no of natural numbers:10
55

In [ ]:
#sum of numbers in given range
n=int(input("enter range:"))
sum=0
for i in range(n+1):
  sum+=i
print(sum)

enter range:9
45

In [ ]:
#greatest of 2 numbers
a=int(input())
b=int(input())
if a>b:
  print("a is greater")
else:
  print("b is greater")

665
8989
b is greater

In [ ]:
#leap year or not
""" year divisible ny 4 and century years divisible by 100,400"""
year=int(input())
if year%4==0:
  if year%100==0:
    if year%400==0:
      print("leap year")
    else:
      print("not leap")
  else:
    print("leap year")
else:
  print("not leap")

4556
leap year

In [ ]:
#15-07-2024
#prime number
#divisible by 1 and itself
num=int(input("enter a number:"))
flag=0
for i in range(2,num):
  if num%i==0:
    flag=1
    break
if flag==1:
  print("not prime")
else:
  print("prime")

enter a number:29
prime

In [ ]:
#print even and odd sequence of an array
arr=list(map(int,input().split()))
n=int(input())
if n==len(arr):
  for i in arr:
    if i%2==0:
      print("even",end="")
    else:
      print("odd",end="")

1 2 3 4 5
5
oddevenoddevenodd

In [ ]:
#permutations of a string by fixing vowels and print remaining permutation
import math
def permutation(s):
  d="aeiouAEIOU"
  if i not in d:
    for i in s:
      w=math.factorial(n)//math.factorial(n-r)

In [ ]:
#prime numbers on given range
num=int(input())
for i in range(2,num+1):
  count=0
  for j in range(1,i+1):
    if i%j==0:
        count=count+1
  if count==2:
    print(i,end=" ")

50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#sum of digits
num=int(input())
hehe=str(num)
sum=0
for i in hehe:
  sum+=int(i)
print(sum)

123
6

In [ ]:
#reverse a number
num=int(input())
temp=num
rev=0
while num>0:
  rem=num%10
  rev=(rev*10)+rem
  num=num//10
print(rev)

123
321

In [ ]:
#print sum of prime numbers in a array
def prime(n):
  if n<=1:
    return False
  for i in range(2,n):
    if n%2==0:
      return False
  return True
arr=list(map(int,input().split()))
sum=0
for i in range(len(arr)):
  if prime(i):
    sum+=arr[i]
print(sum)

1 2 3 4 5 6 7
13

In [ ]:
num=int(input())
m=int(input())
d=num%m
if d==0:
  print(num)
else:
  if d>m//2:
    m=m-d
    num=num+m
    print(num)
  else:
    num=num-d
    print(num)

84
8
80

In [ ]:
# Given array
arr = [35, 9, 65]

# Initialize the counter
count = 0

# Loop through all possible pairs (x, y) where x and y are distinct and positive integers
for z in arr:
    found = False
    for x in range(1, int(z**(1/3)) + 2):  # possible values of x up to the cube root of z
        for y in range(1, x):  # possible values of y up to x (ensuring y < x)
            if x**3 + y**3 == z:
                count += 1
                found = True
                break
        if found:
            break

print("Output:", count)

Output: 3

In [ ]:
2#palindrome
#rev==num then palindrome
num=int(input())
temp=num
rev=0
while num>0:
  rem=num%10
  rev=(rev*10)+rem
  num=num//10
if rev==temp:
  print("palindrome")
else:
  print("not palindrome")

121
palindrome

In [ ]:
#armstrong number
#no of digits will be powerded individually and sum
#153=1cube +5cube +3cube=153
num=int(input())
temp=num
sum=0
length=len(str(num))
while num>0:
  rem=num%10
  sum+=rem**length
  num=num//10
if sum==temp:
  print("armstrong")
else:
  print("not armstrong")

153
armstrong

In [ ]:
#armstrong number in given range
num=int(input())
for i in range(100,num):
  temp=i
  order=len(str(i))
  sum=0
  while temp>0:
    rem=temp%10
    sum+=rem**order
    temp=temp//10
  if sum==i:
    print(i)

1000
153
370
371
407

In [ ]:
#factorial
def fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
n=int(input())
print(fact(n))

12
479001600

In [ ]:
#fibonacci series for given range
#swaping of previous two terms
n=int(input("enter numbers"))
n1=int(input())
n2=int(input())
count=2
if n<0:
  print("enter +ve values")
if n==1:
  print(n1)
else:
  while count<n:
    n3=n1+n2
    print(n3)
    count+=1
    n1=n2
    n2=n3

enter numbers6
2
3
5
8
13
21

In [ ]:
#fibonacci series of nth term
def fibonacci(n):
  if n<=0:
    return "invalid input"
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)
n=int(input())
print(fibonacci(n))

10
34

In [ ]:
#power number
n=int(input())
power=int(input())
print(n**power)

4
3
64

In [ ]:
#factors of a number
num=int(input())
for i in range(1,num+1):
  if num%i==0:
    print(i)

10
1
2
5
10

In [ ]:
#leap year
year=int(input())
if year%4==0 and year%100!=0:
  print("leap year")
elif year%100==0 and year%400==0:
  print("leap year")
else:
  print("not leap")

200
not leap

In [ ]:
"""You are given a function.
int CheckPassword(char str[], int n);
The function accepts string str of size n as an argument. Implement the function which returns 1 if given string str is valid password else 0.
str is a valid password if it satisfies the below conditions.

– At least 4 characters
– At least one numeric digit
– At Least one Capital Letter
– Must not have space or slash (/)
– Starting character must not be a number
Assumption:
Input string will not be empty.

Example:

Input 1:
aA1_67
Input 2:
a987 abC012

Output 1:
1
Output 2:
0"""

def password_check(str,n):
  if n<4:
    return 0
  has_digit=False
  has_upper=False
  has_char_invalid=False

  for i in range(n):
    if str[i].isdigit():
      has_digit=True
    if str[i].isupper():
      has_upper=True
    if str[i]==" " and str[i]=="/":
      has_char_invalid=True
  if str[0].isdigit():
    return 0
  if has_digit and has_upper and not has_char_invalid:
    return 1
  return 0
result=password_check("aA1_67",6)
print(result)

1

In [ ]:
"""Problem Description :
The Binary number system only uses two digits, 0 and 1 and number system can be called binary string. You are required to implement the following function:

int OperationsBinaryString(char* str);

The function accepts a string str as its argument. The string str consists of binary digits eparated with an alphabet as follows:

– A denotes AND operation
– B denotes OR operation
– C denotes XOR Operation
You are required to calculate the result of the string str, scanning the string to right taking one opearation at a time, and return the same.

Note:

No order of priorities of operations is required
Length of str is odd
If str is NULL or None (in case of Python), return -1
Input:
str: 1C0C1C1A0B1

Output:
1

Explanation:
The alphabets in str when expanded becomes “1 XOR 0 XOR 1 XOR 1 AND 0 OR 1”, result of the expression becomes 1, hence 1 is returned.

Sample Input:
0C1A1B1C1C1B0A0

Output:
0"""
def OperationsBinaryString(str):
    if str is None:
        return -1

    n = len(str)
    if n % 2 == 0:
        return -1

    result = int(str[0])

    for i in range(1, n, 2):
        operator = str[i]
        next_digit = int(str[i + 1])

        if operator == 'A':
            result = result & next_digit
        elif operator == 'B':
            result = result | next_digit
        elif operator == 'C':
            result = result ^ next_digit

    return result

# Example Usage:
print(OperationsBinaryString("1C0C1C1A0B1"))  # Output: 1
print(OperationsBinaryString("0C1A1B1C1C1B0A0"))  # Output: 0

1
0

In [ ]:
"""Problem Description :
The function accepts two positive integers ‘r’ and ‘unit’ and a positive integer array ‘arr’ of size ‘n’ as its argument ‘r’
represents the number of rats present in an area, ‘unit’ is the amount of food each rat consumes and each ith element of array ‘arr’ represents
the amount of food present in ‘i+1’ house number, where 0 <= i

Note:

Return -1 if the array is null
Return 0 if the total amount of food from all houses is not sufficient for all the rats.
Computed values lie within the integer range.
Example:

Input:

r: 7
unit: 2
n: 8
arr: 2 8 3 5 7 4 1 2
Output:

4

Explanation:
Total amount of food required for all rats = r * unit

= 7 * 2 = 14.

The amount of food in 1st houses = 2+8+3+5 = 18. Since, amount of food in 1st 4 houses is sufficient for all the rats. Thus, output is 4."""

def minimumHouses(r, unit, n, arr):
    if arr is None:
        return -1

    required_food = r * unit
    current_food = 0

    for i in range(n):
        current_food += arr[i]
        if current_food >= required_food:
            return i+1

    return 0

# Example Usage:
r = 7
unit = 2
n = 8
arr = [2, 8, 3, 5, 7, 4, 1, 2]
print(minimumHouses(r, unit, n, arr))  # Output: 4

4

In [ ]:
#linear search
def linear_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1

# Example usage
arr = [3, 5, 2, 4, 9, 1]
target = 4

index = linear_search(arr, target)
if index != -1:
    print(f"Element found at index {index}")
else:
    print("Element not found")

Element found at index 3

In [ ]:
def print_pattern(rows):
    for i in range(rows, 0, -1):
        for j in range(0, rows - i):
            print(" ", end=" ")

        for k in range(0, i):
            print("*", end=" ")

        print()

rows = 5
print_pattern(rows)

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
def print_equilateral_triangle(rows):
    for i in range(rows):
        # Print leading spaces
        for j in range(rows - i - 1):
            print(" ", end="")

        # Print stars
        for k in range(2 * i + 1):
            print("*", end="")

        # Move to the next line
        print()

# Example usage
rows = 5
print_equilateral_triangle(rows)

    *
   ***
  *****
 *******
*********

In [ ]:
def print_reverse_equilateral_triangle(rows):
    for i in range(rows, 0, -1):
        # Print leading spaces
        for j in range(rows - i):
            print(" ", end="")

        # Print stars
        for k in range(2 * i - 1):
            print("*", end="")

        # Move to the next line
        print()

# Example usage
rows = 5
print_reverse_equilateral_triangle(rows)

*********
 *******
  *****
   ***
    *

In [ ]:
"""char*MoveHyphen(char str[],int n);

The function accepts a string “str” of length ‘n’, that contains alphabets and hyphens (-).
Implement the function to move all hyphens(-) in the string to the front of the given string.

NOTE:- Return null if str is null.

Example :-

Input:
str.Move-Hyphens-to-Front
Output:
—MoveHyphenstoFront
Explanation:-

The string “Move-Hyphens -to-front” has 3 hyphens (-), which are moved to the front of the string, this output is “— MoveHyphen”

Sample Input

Str: String-Compare
Sample Output-

-StringCompare"""

string=input()
hypen=[]
normal=[]
for char in string:
  if char=='-':
    hypen.append(char)
  else:
    normal.append(char)
result=''.join(hypen+normal)
print(result)

Move-Hyphens-to-Front
---MoveHyphenstoFront

In [ ]:
"""N-base notation is a system for writing numbers that uses only n different symbols, This symbols are the first n symbols from the given notation list(Including the symbol for o) Decimal to n base notation are (0:0, 1:1, 2:2, 3:3, 4:4, 5:5, 6:6, 7:7, 8:8, 9:9, 10:A,11:B and so on upto 35:Z)

Implement the following function

Char* DectoNBase(int n, int num):

The function accept positive integer n and num Implement the function to calculate the n-base equivalent of num and return the same as a string

Steps:

Divide the decimal number by n,Treat the division as the integer division
Write the the remainder (in  n-base notation)
Divide the quotient again by n, Treat the division as integer division
Repeat step 2 and 3 until the quotient is 0
The n-base value is the sequence of the remainders from last to first
Assumption:
1 < n < = 36

Example

Input
n: 12
num: 718

Output
4BA

Explanation
num       Divisor       quotient       remainder
718           12               59                 10(A)
59             12                4                   11(B)
4               12                0                   4(4)

Sample Input
n: 21
num: 5678

Sample Output
CI8"""
def decode(n,num):

  result=[]
  alpha="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  if 1<n<=36:
    while num>0:
      rem=num%n
      result.append(alpha[rem])
      num=num//n
    return ''.join(result[::-1])
  else:
    return ""
n=int(input())
num=int(input())
decode(n,num)

12
718

'4BA'

In [ ]:
#prime factors of a number
n=int(input())
divisor=2
factor=[]
while n>1:
  while n%divisor==0:
    factor.append(divisor)
    n=n//divisor
  divisor+=1
print(factor)

56
[2, 2, 2, 7]

In [ ]:
#strong number
#145=1!+4!+5!
import math
n=int(input())
d=str(n)
sum=0

for i in d:
  sum+=math.factorial(int(i))
if sum==n:
  print("strong number")
else:
  print("not strong number")

145
strong number

In [ ]:
#perfect number
#factors of that numbers sum is equal to that number
#6=1+2+3
num=int(input())
sum=0
for i in range(1,num):
  if num%i==0:
    sum+=i
if sum==num:
  print("perfect number")
else:
  print("not perfect number")

6
perfect number

In [ ]:
#automorphic number
#power of that numbers last digit is equal to that number
#5**2=25 and end with 5
n=int(input())
d=n**2
s=str(d)
t=str(n)
if s.endswith(t):
  print("automorphic number")
else:
  print("not automorphic number")

76
automorphic number

In [ ]:
#harshad number
#sum of that number is divisible by that number
#18=1+8=9 which is divisible by 18
n=int(input())
s=str(n)
sum=0
for i in s:
  sum+=int(i)
if n%sum==0:
  print("harshad number")
else:
  print("not harshad number")

18
harshad number

In [ ]:
#Abundant number
#sum of the factors of that number is greater than to that number
#12=1+2+3+4+6>12
n=int(input())
sum=0
for i in range(1,n):
  if n%i:
    sum+=i
if sum>n:
  print("Abundant number")
else:
  print("Not Abundant number")

12
Abundant number

In [ ]:
#friendly pairs
#sum of factors of 1st number is equal to 2nd number and vice versa
a=int(input())
b=int(input())
sum1=0
sum2=0
for i in range(1,a):
  if a%i==0:
    sum1+=i
for j in range(1,b):
  if b%j==0:
    sum2+=j
if sum1==b and sum2==a and a!=b:
  print("friendly pair")
else:
  print("not friendly pair")

220
284
friendly pair

**working with numbers**

In [ ]:
#hcf
import math
n=int(input())
b=int(input())
print(math.gcd(n,b))

12
16
4

In [ ]:
#gcd
a=int(input())
b=int(input())
while b:
  a,b=b,a%b
print(a)

12
16
4

In [ ]:
#lcm
import math
a=int(input())
b=int(input())
c=math.gcd(a,b)
print("LCM is ",(a*b)//c)

12
16
LCM is  48

In [ ]:
#convert binary to decimal
import math

s=input()
list1=list(s)
list1.reverse()
sum=0
for i in range(len(list1)):
  sum=sum+int(list1[i])*2**i
print(sum)

1010
10

In [ ]:
#roots of quadratic equation
import cmath
a=float(input())
b=float(input())
c=float(input())
det=(b**2)-(4*a*c)
root1=(-b+cmath.sqrt(det))/2*a
root2=(-b-cmath.sqrt(det))/2*a
print(root1,root2)

12
3
4
(-18+81.1664955508121j) (-18-81.1664955508121j)

In [ ]:
import calendar

def days_in_month(year, month):
    """Returns the number of days in a given month of a given year."""
    return calendar.monthrange(year, month)[1]

# Input from the user
year = int(input("Enter year: "))
month = int(input("Enter month (1-12): "))

# Get the number of days in the given month and year
number_of_days = days_in_month(year, month)

print(f"The number of days in {calendar.month_name[month]} {year} is {number_of_days}.")

Enter year: 2024
Enter month (1-12): 2
The number of days in February 2024 is 29.

In [ ]:
#replace all o's with 1's
n=int(input())
n_str=str(n)
d=n_str.replace('0','1')
print(int(d))

1011110001
1111111111

In [ ]:
#Quadrants in which a given coordinate lies
x=int(input())
y=int(input())
if x>0 and y>0:
  print("first coordinate")
elif x<0 and y>0:
  print("second coordinate")
elif x<0 and y<0:
  print("third coordinate")
elif x>0 and y<0:
  print("fourth coordinate")
elif x==0 and y!=0:
  print("x lies on y axis")
elif y==0 and x!=0:
  print("y lies on x axis")
else:
  print("origin")

4
-8
fourth coordinate

In [ ]:
from math import gcd

def add_fractions(n1, d1, n2, d2):
    # Find the common denominator
    common_denominator = d1 * d2

    # Convert each fraction to an equivalent fraction with the common denominator
    numerator1 = n1 * d2
    numerator2 = n2 * d1

    # Add the numerators
    new_numerator = numerator1 + numerator2

    # Simplify the fraction
    common_divisor = gcd(new_numerator, common_denominator)
    simplified_numerator = new_numerator // common_divisor
    simplified_denominator = common_denominator // common_divisor

    return simplified_numerator, simplified_denominator

# Example usage
numerator1, denominator1 = 1, 3
numerator2, denominator2 = 2, 5
result = add_fractions(numerator1, denominator1, numerator2, denominator2)
print(f"The sum of the fractions is {result[0]}/{result[1]}")  # Output: The sum of the fractions is 11/15

The sum of the fractions is 11/15

In [ ]:
#Permutations in which n people can occupy r seats in a classroom

import math
def permutation(n,r):
  return math.factorial(n)//math.factorial(n-r)
n=int(input())
r=int(input())
print(permutation(n,r))

5
3
60

In [ ]:
#Maximum number of handshakes
def handshake(n):
  return n*(n-1)//2
n=int(input())
print(handshake(n))

5
10

In [ ]:
#area of circle
r=int(input())
pi=3.14
area=pi*r**2
print(area)

5
78.5

In [ ]:
#prime numbers on given range
num=int(input())
for i in range(2,num+1):
  count=0
  for j in range(1,i+1):
    if i%j==0:
        count=count+1
  if count==2:
    print(i,end=" ")

50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
#Calculate the number of digits in an integer
import math
n=int(input())
d = int(math.log10(abs(n))) + 1
print(d)

555656
6

In [ ]:
n=int(input())
s=str(n)
d=len(s)
print(int(d))

676776
6

In [ ]:
octal=input()
decimal=int(octal,8)
print(decimal)

345
229

In [ ]:
#hexadecimal to decimal
octal=input()
decimal= int(octal,16)
print(decimal)

1F4A5
128165

In [ ]:
#decimal to binary
decimal_number =int(input())
binary_number = bin(decimal_number)[2:]
print(binary_number)

34
100010

In [ ]:
#decimal to octal

# Define the decimal number
decimal_number = 345

# Convert the decimal number to an octal number using oct() and remove the '0o' prefix
octal_number = oct(decimal_number)[2:]

# Print the result
print(f"The octal equivalent of decimal {decimal_number} is {octal_number}.")

The octal equivalent of decimal 345 is 531.

In [ ]:
#decimal to hexadecimal
# Define the decimal number
decimal_number = 345

# Convert the decimal number to a hexadecimal number using hex() and remove the '0x' prefix
hexadecimal_number = hex(decimal_number)[2:].upper()

# Print the result
print(f"The hexadecimal equivalent of decimal {decimal_number} is {hexadecimal_number}.")

The hexadecimal equivalent of decimal 345 is 159.

In [ ]:
#binary to octal

# Define the binary number as a string
binary_number = "1101101"

# Convert the binary number to a decimal number using int() with base 2
decimal_number = int(binary_number, 2)

# Convert the decimal number to an octal number using oct() and remove the '0o' prefix
octal_number = oct(decimal_number)[2:]

# Print the result
print(f"The octal equivalent of binary {binary_number} is {octal_number}.")

The octal equivalent of binary 1101101 is 155.

In [ ]:
#Octal to Binary conversion

# Define the octal number as a string
octal_number = "345"

# Convert the octal number to a decimal number using int() with base 8
decimal_number = int(octal_number, 8)

# Convert the decimal number to a binary number using bin() and remove the '0b' prefix
binary_number = bin(decimal_number)[2:]

# Print the result
print(f"The binary equivalent of octal {octal_number} is {binary_number}.")

The binary equivalent of octal 345 is 11100101.

In [ ]:
"""Problem Statement

You are required to implement the following function:

Int Calculate(int m, int n);

The function accepts 2 positive integer ‘m’ and ‘n’ as its arguments.
You are required to calculate the sum of numbers divisible both by 3 and 5, between ‘m’ and ‘n’ both inclusive and return the same.
Note
0 < m <= n

Example

Input:

m : 12

n : 50

Output

90

Explanation:
The numbers divisible by both 3 and 5, between 12 and 50 both inclusive are {15, 30, 45} and their sum is 90.
Sample Input
m : 100
n : 160
Sample Output
510"""

m=int(input())
n=int(input())
sum=0
for i in range(m,n+1):
  if i%3==0 and i%5==0:
    sum+=i
print(sum)

12
50
90

In [ ]:
"""You are given a function,

Int MaxExponents (int a , int b);

You have to find and return the number between ‘a’ and ‘b’ ( range inclusive on both ends) which has the maximum exponent of 2.

The algorithm to find the number with maximum exponent of 2 between the given range is

Loop between ‘a’ and ‘b’. Let the looping variable be ‘i’.
Find the exponent (power) of 2 for each ‘i’ and store the number with maximum exponent of 2 so faqrd in a variable ,
 let say ‘max’. Set ‘max’ to ‘i’ only if ‘i’ has more exponent of 2 than ‘max’.
Return ‘max’.
Assumption: a <b

Note: If two or more numbers in the range have the same exponents of  2 , return the small number.

Example

Input:
7
12
Output:
8
Explanation:

Exponents of 2 in:

7-0

8-3

9-0

10-1

11-0

12-2

Hence maximum exponent if two is of 8."""

In [ ]:
"""Instructions: You are required to write the code. You can click on compile and run anytime to check compilation/execution status. The code should be logically/syntactically correct.

Problem: Write a program in C to display the table of a number and print the sum of all the multiples in it.

Test Cases:

Test Case 1:
Input:
5
Expected Result Value:
5, 10, 15, 20, 25, 30, 35, 40, 45, 50
275

Test Case 2:
Input:
12
Expected Result Value:
12, 24, 36, 48, 60, 72, 84, 96, 108, 120
660"""

n=int(input())
sum=0
for i in range(1,11):
  sum+=n*i
print(sum)

12
660

In [ ]:
#Write a program to find the largest number in a list.
list1=list(map(int,input().split()))
list1.sort()
print(list1[-1])

67757 7687 9898 43 675
67757

In [ ]:
#Meadian of two sorted array
def merged(num1,num2):
  merge=[]
  i=j=0
  while i<len(num1) and j<len(num2):
    if num1[i]<num2[j]:
      merge.append(num1[i])
      i+=1
    else:
      merge.append(num2[j])
      j+=1
  while i<len(num1):
    merge.append(num1[i])
    i+=1
  while j<len(num2):
    merge.append(num2[j])
    j+=1
  n=len(merge)
  if n%2==0:
    return merge[n//2]
  else:
    return (merge[(n // 2) - 1] + merge[n // 2]) / 2

num1=list(map(int,input().split()))
num2=list(map(int,input().split()))
print(merged(num1,num2))

2 4 6
3 6 9
6

In [ ]:
 """1. Two Sum
Solved
Easy
Topics
Companies
Hint
Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.



Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].
Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]
Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]"""

In [ ]:
m=int(input())
n=int(input())
sum=0
for i in range(m,n+1):
  if i%3==0 and i%5==0:
    sum+=i
print(sum)

15
50
90

In [ ]:
n=int(input())
sum=0
for i in range(1,11):
  sum+=n*i
print(sum)

5
275

In [ ]:
list1=list(map(int,input().split()))
list1.sort()
print(list1[-1])

9 8 7 6 5 4 35 76
76

In [ ]:
d=input()
df=int(d,2)
print(df)

1011011
91

In [ ]:
#Can a number be expressed as a sum of two prime numbers
def prime(n):
  count=0
  for i in range(1,n+1):
    if n%i==0:
      count+=1
  if count==2:
    return True
  else:
    return False
n=int(input())
a=[]
for j in range(2,n):
  if prime(j):
    a.append(j)
for k in range(len(a)):
  for r in range(k+1,len(a)):
    if a[k]+a[r]==n:
      print(a[k]," ",a[r])

36
5   31
7   29
13   23
17   19

In [ ]:
#adding of 2 numbers
a=int(input())
b=int(input())
c=int(input())
d=int(input())
n=(a*d+b*c)
d=b*d
print(n//d)

1
2
1
2
1

In [ ]:
def count_decodings(digits):
    n = len(digits)
    if n == 0:
        return 0
    # A table to store results of subproblems
    count = [0] * (n+1)

    # Base cases
    count[0] = 1  # An empty string has one way to be decoded
    count[1] = 1  # A single character string can only be decoded one way (if it's not '0')

    for i in range(2, n+1):
        count[i] = 0

        # If the last digit is not 0, it can be decoded
        if digits[i-1] > '0':
            count[i] = count[i-1]

        # If the last two digits form a number between 10 and 26, they can be decoded together
        if (digits[i-2] == '1') or (digits[i-2] == '2' and digits[i-1] < '7'):
            count[i] += count[i-2]

    return count[n]

# Test the function
digits = input("Enter the digit sequence: ")
print(f"Number of possible decodings: {count_decodings(digits)}")

Enter the digit sequence: 123
Number of possible decodings: 3

In [ ]:
def number_to_words(n):
    if n == 0:
        return "zero"

    def one_to_nineteen(num):
        words = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten",
                 "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen"]
        return words[num - 1:num]

    def tens(num):
        words = ["twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]
        return words[num - 2:num - 1]

    def two_digits(num):
        if num < 20:
            return one_to_nineteen(num)
        else:
            return tens(num // 10) + one_to_nineteen(num % 10)

    def three_digits(num):
        if num < 100:
            return two_digits(num)
        else:
            return one_to_nineteen(num // 100) + ["hundred"] + two_digits(num % 100)

    parts = []
    if n >= 1_000_000:
        parts += three_digits(n // 1_000_000) + ["million"]
        n %= 1_000_000
    if n >= 1_000:
        parts += three_digits(n // 1_000) + ["thousand"]
        n %= 1_000
    if n > 0:
        parts += three_digits(n)

    return " ".join(filter(None, parts))

# Test the function
number = int(input("Enter an integer: "))
print(f"{number} in words is: {number_to_words(number)}")

Enter an integer: 1213232
1213232 in words is: one million two hundred thirteen thousand two hundred thirty two

In [ ]:
"""The function accepts a character array ‘arr’ of size ‘n’ as its argument.
Each element of ‘arr’ represents the status of a parking slot, where ‘S’ represents an empty slot and ‘X’ represents an occupied slot.
The function needs to return the maximum number of cars that can be parked in the parking lot.
 It is assumed that two cars cannot occupy the same slot and cars can only park in consecutive empty slots.
Input:


n: 16

arr: XXXSXXSXXSSXXSXX
Output:
7"""
n=int(input())
arr=list(map(str,input().split()))
count('S' ,arr)
print(arr)

In [ ]:
"""The function accepts a character array ‘arr’ of size ‘n’ as its argument.
Each element of ‘arr’ represents the status of a parking slot, where ‘S’ represents an empty slot and ‘X’ represents an occupied slot.
The function needs to return the maximum number of cars that can be parked in the parking lot.
 It is assumed that two cars cannot occupy the same slot and cars can only park in consecutive empty slots.
Input:


n: 16

arr: XXXSXXSXXSSXXSXX
Output:
7"""
n=int(input())
arr=list(map(str,input().split()))
count('S' ,arr)
print(arr)

In [ ]:
"""The function accepts a character array ‘arr’ of size ‘n’ as its argument.
Each element of ‘arr’ represents the status of a parking slot, where ‘S’ represents an empty slot and ‘X’ represents an occupied slot.
The function needs to return the maximum number of cars that can be parked in the parking lot.
 It is assumed that two cars cannot occupy the same slot and cars can only park in consecutive empty slots.
Input:


n: 16

arr: XXXSXXSXXSSXXSXX
Output:
7"""
n=int(input())
arr=list(map(str,input().split()))
count('S' ,arr)
print(arr)

In [ ]:
"""Rani is preparing for a job exam and needs your help to determine if she will get the job.
 Write a code  that takes her written test score and her coding round results as inputs and returns whether she will get the job or not.

Conditions to qualify each round in  the exam
* Marks above 13 in written test
* One complete and partial submission of codes
        If output matches"""

def result(marks,coding):
  cs=coding.count("complete")
  ps=coding.count("partial")
  if marks>=13:
    if cs>=1 and ps>=1:
      return "she will get a job"
    else:
      return "she will not get a job"
  else:
    return "disqualified"
marks=int(input())
coding=["complete","partial","npt answered","complete"]
print(result(marks,coding))

14
she will get a job

In [ ]:
# Count vowels and consonants in a string
def alpha(str):
  v=set("aeiouAEIOU")
  v_count=0
  c_count=0
  for s in str:
    if s in v:
      v_count+=1
    elif s.isalpha()==True and s not in v:
      c_count+=1
  return v_count,c_count
str="hello world"
print(alpha(str))

(3, 7)

In [ ]:
#convert hours into minutes and minutes into seconds
def hour(h):
  min=h*60
  sec=h*3600
  return min,sec
h=2.5
print(hour(h))

(150.0, 9000.0)

In [ ]:
#happy number
n=int(input())
x=n
while x>=10:
  sum=0
  while x>0:
    rem=x%10
    sum=sum+(rem**2)
    x=x//10
  x=sum
if x==1:
  print("happy number")
else:
  print("not happy number")

19
happy number

In [ ]:
#square star program
for i in range(4):
  for j in range(4):
    print("%",end=" ")
  print()

% % % %
% % % %
% % % %
% % % %

In [ ]:
#hallow square star program
for i in range(4):
  for j in range(4):
    if i==0 or i==4-1 or j==0 or j==4-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * *
*     *
*     *
* * * *

**codes for recrusion**

In [ ]:
#power of a number
def power(a,b):
  if b!=0:
    return a*power(a,b-1)
  else:
    return 1
a=int(input())
b=int(input())
print(power(a,b))

2
3
8

In [ ]:
#prime number
def prime(n,i=2):
  if n==i:
    return True
  elif n%i==0:
    return False
  else:
    return prime(n,i+1)
n=int(input())
if prime(n):
  print("prime number")
else:
  print("not prime number")

234
not prime number

In [ ]:
#max element in array
def array(a,n):
  if 1==n:
    return a[0]
  return max(a[n-1],array(a,n-1))
if __name__=="__main__":
  a=list(map(int,input().split()))
  n=len(a)
  print(array(a,n))

1 2 3 4 5 6 78 54 4334
4334

In [ ]:
def array(a,n):
  if n==1:
    return a[0]
  return min(a[n-1],array(a,n-1))
if __name__=="__main__":
  a=list(map(int,input().split()))
  n=len(a)
  print(array(a,n))

1 2 3 4 5 6 7877 -32 43 54
-32

In [ ]:
#swap of number
a=2
b=3
a,b=b,a
print(a,b)

3 2

In [ ]:
#even or odd without using condition
def even_odd(n):
  r=["even","odd"][n&1]
  return r
n=int(input())
print(even_odd(n))

11
odd

In [ ]:
a=range(1,101)
print(a,end=" ")

range(1, 101)

In [ ]:
#print all numbers between 1 and 100 without using any loop
def printing(n):
  if n<100:
    return n
    print(n)
    printing(n+1)
n=int(input())
printing(n)

50

50

In [ ]:
#string has to convert full upper or lower which has highest count
s=input()
count_u=0
count_l=0
for char in s:
  if char.isupper():
    count_u+=1
  elif char.lower():
    count_l+=1
if count_u>count_l:
  print(s.upper())
else:
  print(s.lower())

DFGHJfg
DFGHJFG

In [ ]:
#rock paper scissor
#rocks beats scissor
#scissor beats paper
#paper beats rock
#input=rock o/p=paper
n = input().lower()
d = {"paper": "scissors", "scissors": "rock", "rock": "paper"}

if n in d:
    print(d[n])
else:
    print("Invalid input")

rock
paper

In [ ]:
"""climbing strairs
alice climdsb a strairs and takes N steps to reach the top.in each turn a;ice can slide can climb 1 or M starirs .
find the minimum no of climbs to reach the destination.
constarints
1<=N<=10^9
1<=M<=10^9
input=5 1
o/p=5"""
n,m=map(int,input().split())
m_step=n//m
rem=n%m
print(m_step+rem)

11 2
6

In [ ]:
#Program to calculate length of the string using recursion
s=input()
print(len(s))

sdfcgvbhn
9

In [ ]:
#Program to calculate length of the string using recursion
def length(s):
  if s=="":
    return 0
  else:
    return 1+length(s[1:])
s=input()
print(length(s))

dcfgvbh
7

In [ ]:
#Given an integer N the task is to print the F(N)th term
def fib(n):
  if n==0:
    return 0
  if n==1:
    return 1
  else:
    return fib(n-1)+fib(n-2)
n=int(input())
print(fib(n))

4
3

In [ ]:
#Find the Factorial of a number using recursion
def fact(n):
  if n==0:
    return 0
  if n==1:
    return 1
  else:
    return n*fact(n-1)
n=int(input())
print(fact(n))

6
720

In [ ]:
#Given a string s, remove all its adjacent duplicate characters recursively

**Important Codes related to Arrays**

In [ ]:
#largest element in a array
a=list(map(int,input().split()))
a.sort()
print(a[-1])

223 34 656 32
656

In [ ]:
#smallest number in a array
a=list(map(int,input().split()))
a.sort()
print(a[0])

4 34 56 34 2
2

In [ ]:
#largest and smallest number in a array
a=list(map(int,input().split()))
a.sort()
print(a[0],a[-1])

45 454 632 6566 2
2 6566

In [ ]:
#find second largest number in a array
a=list(map(int,input().split()))
a.sort()
print(a[-2])

23 345 767 564 323
564

In [ ]:
#calculate the sum of the digits in a array
a=list(map(int,input().split()))
sum=0
for i in a:
  sum+=i
print(sum)

54 232 6576 23
6885

In [ ]:
#reverse an array
a=list(map(int,input().split()))
a=a[::-1]
print(a)

435 6767 878
[878, 6767, 435]

In [ ]:
#Sort first half in ascending order and second half in descending
a=list(map(int,input().split()))
mid=len(a)//2
first_ascend=sorted(a[:mid])
second_descent=sorted(a[mid:],reverse=True)
print(first_ascend+second_descent)

1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 9, 8, 7, 6, 5]

In [ ]:
#sort the elemnts in a array
a=list(map(int,input().split()))
a.sort()
print(a)

323 56 67 35 67676
[35, 56, 67, 323, 67676]

In [ ]:
#Finding the frequency of elements in an array
a=list(map(int,input().split()))
freq={}
for i in a:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
print(freq)

12 344 45 34 12 223 344
{12: 2, 344: 2, 45: 1, 34: 1, 223: 1}

In [ ]:
a=list(map(int,input().split()))
freq={}
for i in a:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
print(freq.sort())

12 344 45 34 12 223 344

AttributeError: 'dict' object has no attribute 'sort'

In [ ]:
#longest palindrome in an array
def is_palindrome(s):
  return s==s[::-1]
def longest_palindrome(arr):
  longest=""
  for i in arr:
    if is_palindrome(i) and len(i)>len(longest):
      longest=i
  return longest
arr=input().split()
print(longest_palindrome(arr))

madam racecar civic apple banana
racecar

In [ ]:
#Counting Distinct Elements in an Array
def distinct(arr):
  distinct=set(arr)
  return len(distinct)
arr=list(map(int,input().split()))
print(distinct(arr))

1 2 3 4 5 6 2 3 434 532 45 23
10

In [ ]:
#finding maximum element and its index
arr=list(map(int,input().split()))
max_element=max(arr)

print(max_element,arr.index(max_element))

23 45 565 786 4343
4343 4

In [ ]:
#take an array and i/p is number of plots and array and o/p is print which has a square shaped plot
import math
n=int(input())
arr=list(map(int,input().split()))
count=0
for i in arr:
  if i==(math.sqrt(i))**2:
    count+=1
print(count)

6
64 16 32 50 81 12
3

In [ ]:
#find the missing number among the consective number
a=list(map(int,input().split()))
n=len(a)+1
expected_sum=n*(n+1)//2
actual_sum=sum(a)
miss=expected_sum-actual_sum
print(miss)

1 2 3 5 6
4

In [ ]:
#Can a number be expressed as a sum of two prime numbers
def prime(n):
  count=0
  for i in range(1,n+1):
    if n%i==0:
      count+=1
  if count==2:
    return True
  else:
    return False
n=int(input())
a=[]
for j in range(2,n):
  if prime(j):
    a.append(j)
for k in range(len(a)):
  for r in range(k+1,len(a)):
    if a[k]+a[r]==n:
      print(a[k]," ",a[r])

56
3   53
13   43
19   37

In [ ]:
"""For example, consider the sequence 123.

Single digit decoding:

1 → A
2 → B
3 → C
This sequence could be decoded as "ABC".

Two-digit decoding:

12 → L
3 → C
This sequence could be decoded as "LC".

Another Two-digit decoding:

1 → A
23 → W
This sequence could also be decoded as "AW".

Thus, there are three possible ways to decode the sequence 123:

"ABC"
"LC"
"AW""""
#Count possible decoding of a given digit sequence

In [ ]:
#Finding Number of times x digit occurs in a given input
def string(input_str,x):
  x_str=str(x)
  count=0
  for char in input_str:
    if char==x_str:
      count+=1
  return count
s=input()
x=int(input())
print("no of times ",string(s,x))

35546576564
5
no of times  4

In [ ]:
#Finding number of integers which has exactly x divisors
n=int(input())

In [ ]:
import math

def count_divisors(n):
    count = 0
    for i in range(1, int(math.sqrt(n)) + 1):
        if n % i == 0:
            count += 1
            if i != n // i:
                count += 1
    return count

def count_numbers_with_exactly_x_divisors(limit, x):
    count = 0
    for num in range(1, limit + 1):
        if count_divisors(num) == x:
            count += 1
    return count

# Example usage
limit = 100  # range from 1 to 100
x = 4        # looking for numbers with exactly 4 divisors
result = count_numbers_with_exactly_x_divisors(limit, x)
print(f"Number of integers between 1 and {limit} with exactly {x} divisors: {result}")

Number of integers between 1 and 100 with exactly 4 divisors: 32

**codes on matrix**

**strings**

In [ ]:
#Check whether a character is a vowel or consonant
a=input()
d="aeiouAEIOU"
if a in d:
  print("vowel")
else:
  print("consonant")

e
vowel

In [ ]:
#Check whether a character is a alphabet or not
a=input()
x=a.isalpha()
if x is True:
  print("alphabet")
else:
  print("not alphabet")

hdde
alphabet

In [ ]:
#Find the ASCII value of a character
a=input()
print(ord(a))

A
65

In [ ]:
#Length of the string without using strlen() function
a=input()
count=0
for i in a:
  count+=1
print(count)

asdfghjkl
9

In [ ]:
#Toggle each character in a string
a=input()
toggle=" "
for char in a:
  if char.isupper():
    toggle+=char.lower()
  elif char.islower():
    toggle+=char.upper()
  else:
    toggle+=char
print(toggle)

swdDRFGrdrdFffFcfCF
 SWDdrfgRDRDfFFfCFcf

In [ ]:
#Count the number of vowels
a=input()
d="aeiouAEIOU"
count=0
for i in a:
  if i in d:
    count+=1
print(count)

aerstyuioknjbhvgfcd
5

In [ ]:
#Remove the vowels from a String
a=input()
d="AEIOUaeiou"
result=""
for i in a:
  if i not in d:
    result+=i
print(result)

asertyuiolkj
srtylkj

In [ ]:
#Check if the given string is Palindrome or not
a=input()
if a[::-1]==a:
  print("palindrome")
else:
  print("not  a palindrome")

madam
palindrome

In [ ]:
#Print the given string in reverse order
a=input()
print(a[::-1])

hgfds
sdfgh

In [ ]:
#Remove all characters from string except alphabets
a=input()
for i in a:
  if i.isalpha():
    print(i,end="")

SDXFRTG34567dfgh
SDXFRTGdfgh

In [ ]:
#Remove spaces from a string
a=input()
r=""
for i in a:
  if " " not in i:
    r+=i
print(r)

zzsd rdfg   fdtgyh
zzsdrdfgfdtgyh

In [ ]:
#Remove brackets from an algebraic expression
a=input()
r=""
for i in a:
  if i!="(" and i!=")":
    r+=i
print(r)

ade(dv)fef(
adedvfef

In [ ]:
#Count the sum of numbers in a string
a=input()
count=0
for i in a:
  if i.isdigit():
    count+=1
print(count)

dgfhd567323e
6

In [ ]:
#Capitalize the first and last character of each word of a string
a=input().split()
r=[]
for i in a:
  if len(a)>1:
    new_word=i[0].upper() + i[1:-1] + i[-1].upper()
  else:
    new_word=i.upper()
  r.append(new_word)
final=" ".join(r)
print(final)

hello i am navya
HellO II AM NavyA

In [ ]:
#Calculate frequency of characters in a string
a=input()
dict={}

for i in a:
  if i in dict:
    dict[i]+=1
  else:
    dict[i]=1
print(dict)

madam
{'m': 2, 'a': 2, 'd': 1}

In [ ]:
#Find non-repeating characters in a string
a=input()
dict={}
for i in a:
  if i in dict:
    dict[i]+=1
  else:
    dict[i]=1
non_repeat=[]
for i,count in dict.items():
  if count==1:
    non_repeat.append(i)
print(non_repeat)

hshwswysgwhsgwhwj
['y', 'j']

In [ ]:
#Check if two strings are Anagram or not
str1=input().lower()
str2=input().lower()
if len(str1)==len(str2):
  if sorted(str1)==sorted(str2):
    print("anagram")
  else:
    print("not anagrams")
else:
  print("Not anagram")

dam
MAD
anagram

In [ ]:
#Replace a sub-string in a string
a=input()
replaced_str=input()
updated_str=input()
b=a.replace(replaced_str,updated_str)
print(b)

hello navya
navya
kanna
hello kanna

In [ ]:
#Replacing a particular word with another word in a string
#Replace a sub-string in a string
a=input()
replaced_str=input()
updated_str=input()
b=a.replace(replaced_str,updated_str)
print(b)

hi hello how are you
hello
idiot
hi idiot how are you

In [ ]:
#Count common sub-sequence in two strings

In [ ]:
#Check if two strings match where one string contains wildcard characters

In [ ]:
#Print all permutations of a given string in lexicographically sorted order

In [ ]:
"""alice has collection of songs represented as string s where each char represents a song .
a playlist is a substring of given string with exactly k numbre of songs .
she wants to create a playlistbthat contain maximum number of gher fav songs which is "a"byou task is
 find and return an integer value representing maximum no of fav songs that she can get in a singld playlist...
 i/p=Abcaca
 3
 o/p=2"""
def max_fav_songs(s: str, k: int) -> int:
    max_count = 0
    current_count = 0

    # Initialize the count for the first window
    for i in range(k):
        if s[i] == 'a':
            current_count += 1

    max_count = current_count

    # Slide the window over the string
    for i in range(k, len(s)):
        # Slide the window by removing the leftmost element and adding the rightmost element
        if s[i - k] == 'a':
            current_count -= 1
        if s[i] == 'a':
            current_count += 1

        # Update the maximum count
        max_count = max(max_count, current_count)

    return max_count

# Example usage:
s = "Abcaca"
k = 3
print(max_fav_songs(s, k))  # Output: 2

Abcaca
a
2

In [ ]:
"""the function accepts an int array arr of size n as its arguments .
the function needs to return the index of an equilibrium point in array where sum of elements on the left of the index is equal to sum of the
elements on right side index.if no equilibrium point exist return -1
i/p=7
-7 1 5 2 -4 3 0
o/p=3"""
def find_equilibrium_point(arr):
    total_sum = sum(arr)
    left_sum = 0

    for i in range(len(arr)):
        right_sum = total_sum - left_sum - arr[i]

        if left_sum == right_sum:
            return i
        left_sum += arr[i]

    return -1

n = int(input())
arr = list(map(int, input().split()))

result = find_equilibrium_point(arr)
print(result)

7
-7 1 5 2 -4 3 0
3

In [ ]:
"""you are working for financial analysing tools which represents daily stock prices of a company over time.
each elements in an integer array A of sixe n represents the closing price of stock for that particular day.
your task is to find and return an integer value rperesenting the total no of days where stock market price decreased indicate negative growth.
i/p=7
5 6 4 5 2 3 4
o/p=2
"""
n=int(input())
arr=list(map(int,input().split()))
count=0
for i in range(1,n):
  if arr[i-1]>arr[i]:
    count+=1
print(count)

7
3 4 5 6 2 3 9
1

In [ ]:
"""alice has a pair of magical shoes that allows her to climb 3 strirs at once .
in the city there are N houses whose roof alice wants to reach .the number of roofs of each house is given in a array
alice can reach the rpof only houses where the no of multiple of 3.your task is to find and return int value representing count of the number of houses whose roof alice can climb.
i/p=4
12 21 3 4
o/p=3
"""
n=int(input())
arr=list(map(int,input().split()))
count=0
for i in arr:
  if i%3==0:
    count+=1
print(count)

5
33 234 56 78 333
4

In [ ]:
"""you are given a program to find the count of magical number from 1 to N .
a magical number is defined by the following criteria.
*convert each no in the range of 1 to N to its binary representation
*replace 0 with 1 and 1 with 2 in binary string.
*calculate the sum of all digits in the modification string.if resultant num is odd then consider its magical string.
i/p=4
o/p=1
explantion
1 ->1 ->2 even
2 ->10 ->1+2=3 odd
3 ->11 ->2+2=4 even
4->100 ->2+1+1=even..
"""
def count_magical_numbers(N):
    magical_count = 0

    for number in range(1, N + 1):
        # Convert the number to binary
        binary_representation = bin(number)[2:]  # bin() returns a string like '0b10', so we slice off '0b'

        # Replace 0 with 1 and 1 with 2 in the binary string
        modified_string = ''
        for char in binary_representation:
            if char == '0':
                modified_string += '1'
            elif char == '1':
                modified_string += '2'

        # Calculate the sum of the digits in the modified string
        sum_of_digits = sum(int(char) for char in modified_string)

        # Check if the sum is odd
        if sum_of_digits % 2 == 1:
            magical_count += 1

    return magical_count

# Test case
N = int(input())
print(count_magical_numbers(N))  # Output: 1

5
2

In [ ]:
#find the sum of all prime numbers till the given number n
#i/p=10
#o/p=17
def prime(n):
  if n<=1:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True
n=int(input())
sum=0
for i in range(2,n+1):
  if prime(i):
    sum+=i
print(sum)

20
77

In [ ]:
"""you were given a string s and your task is to
find and return the count of permutation formed by fixing positions of the vowels present in the string..
i/p=abc
o/p=2"""
import math
def permutaion(s):
  vowel="aeiouAEIOU"
  conso=[i for i in s if i not in vowel]
  per_count=math.factorial(len(conso))
  return per_count
s=input()
permutaion(s)

aabbcc

24

In [ ]:
"""least absolute difference between array elements take function and array,length,n as arguments
size=5
arr=10 20 51 49 54
n=50
o/p=51"""
def absolute(arr,size,n):
  min_diff=float("inf")
  closest=None
  for i in range(size):
    diff=abs(arr[i]-n)
    if diff<min_diff:
      min_diff=diff
      closest=arr[i]
  return closest


size=int(input())
arr=list(map(int,input().split()))
n=int(input())
absolute(arr,size,n)

5
10 20 51 49 54
50

51

In [ ]:
#round off the number if unit digit is <=4 then smallest and nearest multiple of 10 and
#if unit digit is >=5 the largest and nearest multiple of 10
def RoundOff(n):
  rem=n%10
  if rem<=4:
    return n-rem
  else:
    return n+(10-rem)
n=int(input())

RoundOff(n)

In [ ]:
# take 2 array with len 1 and len 2 and take one k value
#arr 1 is gretaer than k then x increments and arr2 is lesser than k then y increments..
#print max(x,y)
def minmax_in_two_values(arr1,arr2,k):
  x=0
  y=0
  for i in arr1:
    if i>k:
      x+=1
  for j in arr2:
    if j<k:
      y+=1
  return max(x,y)
arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
k=int(input())
minmax_in_two_values(arr1,arr2,k)

10 20 30 40 50
1 12 32 34 4
12

4

In [ ]:
def maximum_product(l1,r1,l2,r2):
  a=[]
  b=[]
  if l1<r1 and l2<r2:
    for i in range(l1,r1+1):
        a.append(i)
    for j in range(l2,r2+1):
        b.append(j)
  return max(a)*max(b)



l1,r1,l2,r2=map(int,input().split())
maximum_product(l1,r1,l2,r2)

2 5 6 8

40

In [ ]:
#n*(3*(n+1))//2
#pyramid cards levels
def cards(n):
  if n>0:
    return n*(3*n+1)//2
n=int(input())
cards(n)

2

7

In [ ]:
#digicount
def digicount(n):
  count=0
  for i in range(1,n+1):
    d=str(i)
    h=len(d)
    if h%2!=0:
      count+=1
  return count
n=int(input())
digicount(n)

1000

909

In [ ]:
def string(s):
   a=[]
   count=0
   for i in s:
       if i not in a:
           a.append(i)
           count+=1
   return count
s=input()
string(s)

Jcchchchv

4

In [ ]:
#autobiagraphical number
def auto(n):
  d=str(n)
  sum=0
  for i in d:
    sum+=int(i)
  if sum==len(d):
    return sum
n=int(input())
auto(n)

1210

4

In [ ]:
"""write a program to input string and display count of all permutation of string without using any builtin function
i/p=ABC
O/P=6"""
def fact(n):
  if n==0 or n==1:
    return 1
  result=1
  for i in range(2,n+1):
    result*=i
  return result

def permutation(s):
  n=len(s)
  return fact(n)
s=input()
permutation(s)

abcd

24

In [ ]:
"""the function acccepts an integer n implement the function to find the minimum prime factors of n and return difference with its
minimum prime factor
assumption n>1
i/p=350
output=348
explanation=350=2*5*5*7
minimum prime factor is 2 therefore return 350-2=348"""
def

In [ ]:
def miniprime(n):
  if n%2==0:
    return 2
  for i in range(3,n,2):
    if n%i==0:
      return i
  return n
def diff(n):
  min_prime=miniprime(n)
  return n-min_prime
n=int(input())
diff(n)

3

0

In [ ]:
"""adam decides to be geneorus and do some charity .starting today from day 1 until day n,
he gives i^2 coins to charity on day i
i/p=2
o/p=5
explanation
1st day 1^2=1
2nd day 2^2=4
total 5 coins"""
def charity(n):
  sum=0
  for i in range(1,n+1):
    sum+=i**2
  return sum
n=int(input())
charity(n)

3

14

In [ ]:
#find the sum of smallest and largest element in an array
def small_large(arr):
  return max(arr)+min(arr)
arr=list(map(int,input().split()))
small_large(arr)

1 2 3 4 5 6

7

In [ ]:
"""doug is fond of charge,every now and then he tries to do new things.
this time he caught up with a rod comprising of negative (N) and positive (P) charge.
he is asked to calculate the maximum net electrostatic field possible in region due to the rod.
i/p1=[4,3,5]
i/p2=[p,n,p]
i/p3=3
output=600
explanation=(4-3+5)*100=600"""
def charge(n1,n2,n3):
    net_charge=0
    for i in range(len(n1)):
      if n2[i]=='p':
        net_charge+=n1[i]
      elif n2[i]=='n':
        net_charge-=n1[i]
    return net_charge*100
n1=list(map(int,input().split()))
n2=input().split()
n3=int(input())
charge(n1,n2,n3)

1 2 3 4 5
p n n p p
5

500

In [ ]:
a=1.1
b=2.2
c=3.3
Result=a+b
if Result==c:
    print("equal")
else:
    print("not equal")

not equal

In [ ]:
"""numerological reduction 439=4+3+9=16=1+6=7"""
def recursion(n):
  sum=0
  while n>0:
    rem=n%10
    sum+=rem
    n=n//10
  return sum
def numerical_reduction(n):
  while n>=10:
    n=recursion(n)
  return n
n=int(input())
numerical_reduction(n)

24082004

2

In [ ]:
def rearrange(arr,n):
  arr.sort()
  j=n-1
  for i in range(n//2):
    print(arr[i],arr[j],end=" ")
    j-=1
  if m%2==1:
    print(arr[j])
m=int(input())
arr=list(map(int,input()))

2 565 3 23 4 5

In [ ]:
#spy number
"""sum=product of a number"""
def spy(n):
    sum=0
    prod=1
    while n>0:
        rem=n%10
        sum+=rem
        prod*=rem
        n=n//10
    if sum==prod:
        return "spy number"
    else:
        return "not spy number"
n=int(input())
spy(n)

1124

'spy number'

In [ ]:
#neon number
"""9**2=81 and 8+1=9 so 9 is a neon number"""
def neon(n):
    sum=0
    square=n**2
    while square>0:
        rem=square%10
        sum+=rem
        square=square//10
    if sum==n:
        return "neon number"
    else:
        return "not neon number"
n=int(input())
neon(n)

9

'neon number'

In [ ]:
#pronic number
"""product of 2 consective numbers is equal to that number
12=3*4
6=2*3
"""
def pronic(n):
    flag=0
    for i in range(1,n+1):
        if (i*(i+1)==n):
            flag=1
            break
    if flag==1:
        print("pronic number")
    else:
        print("not pronic number")
n=int(input())
pronic(n)

12
pronic number

In [ ]:
#isogram
# string having no duplicates
def isogram(s):
    d=set(s)
    if len(s)==len(set(s)):
        return "isogram"
    else:
        return "not isogram"
s=input()
isogram(s)

python

'isogram'

In [ ]:
#super digit
"""12345=1+2+3+4+5=15=1+5=6 so 6 is super digit"""
def super_digit(n):
    while n>=10:
        x=n
        sum=0
        while x>0:
            rem=x%10
            sum+=rem
            x=x//10
        n=sum
    return sum
n=int(input())
super_digit(n)

1234556

8

In [ ]:
#magic number
#if super digit is equal to 1 then magic number
def magic_number(n):
    while n>=10:
        x=n
        sum=0
        while x>0:
            rem=x%10
            sum+=rem
            x=x//10
        n=sum
    if sum==1:
        return "magic number"
    else:
        return "not magic number"
n=int(input())
magic_number(n)

1234

'magic number'

In [ ]:
#harshad number or niven number
"""18=18//1+8"""
def niven_number(n):
    sum=0
    while n>0:
        rem=n%10
        sum+=rem
        n=n//10
    if n%sum==0:
        return "niven number"
    else:
        return "not niven number"
n=int(input())
niven_number(n)

18

'niven number'

In [ ]:
#disarium number
"""sum of its digits raised to power of their respective position is equal to given number
89
8 is 1st position
9 is 2nd position
so 8**1=8 + 9**2=81 and 81+8=89"""
def disarium_number(n):
    temp=n
    x=n
    sum=0
    count=0
    while temp>0:
        temp=temp//10
        count+=1
    while x>0:
        rem=x%10
        sum=sum+rem**count
        x=x//10
        count=count-1
    if sum==n:
        return "disarium number"
    else:
        return "not disarium number"
n=int(input())
disarium_number(n)

89

'disarium number'

In [ ]:
"""the sequence of 1s in the encoded forms are separated by single 0 which helps to distinguish between 2 letters.
note:i/p string will always be in uppercase
example:101101110
o/p=ABC

I/P2=111011110111110
O/P2=CDE"""
def sequence(s):
  count=s.split('0')
  result=""
  for i in count:
    letter_pos=len(i)
    letter=chr(ord("A")+letter_pos-1)
    result+=letter
  return result
s=input()
sequence(s)

1101111101111111

'BEG'

In [ ]:
"""a google prime number is defined as number that is derived from the sum of its individual digits .
for example if n=43 the sum of its individual digits is 4+3=7 which is prime making its a googly prime number
your task is to find wheather the current number is googly prime number or not
i/p=43
o/p=yes

i/p=1235
o/p=yes

i/p=123
o/p=no
"""
def prime(n):
  if n<=1:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True

def checking_prime(n):
  sum=0
  while n>0:
    rem=n%10
    sum+=rem
    n=n//10
  if prime(sum):
    print("yes")
  else:
    print("no")
n=int(input())
checking_prime(n)

1235
yes

In [ ]:
"""given i/p as n find nth fibonacci series number.
fibonacci series example is 0,1,1,2,3,5,8,13,21,34,55
i/p=1
o/p=1

i/p=9
o/p=34"""
def fib(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fib(n-1)+fib(n-2)
n=int(input())
fib(n)

10

55

In [ ]:
"""given a number n convert it into binary form
i/p=10
o/p=1010

i/p=54
o/p=110110"""
def binary(n):
  return bin(n)[2:]
n=int(input())
binary(n)

4

'100'

In [ ]:
"""given a number n convert it into binary form
i/p=10
o/p=1010
i/p=54
o/p=110110"""
def binary(n):
  binary_number=""
  while n>0:
    rem=n%2
    binary_number+=str(rem)
    n=n//2
  return binary_number[::-1]
n=int(input())
binary(n)

24

'11000'

In [ ]:
"""sunny number
if a number is said to be a sunny number if its imediate number is a perfect square
i/p=3
o/p=yes

i/p=5
o/p=no """
import math
def sunny(n):
  x=n+1
  flag=0
  for i in range(1,x):
    if i*i==x:
      flag=1
      break
  if flag==1:
    print("sunny number")
  else:
    print("not sunny number")
n=int(input())
sunny(n)

16
not sunny number

In [ ]:
"""unique number
if no repetations of digits then unique number"""
def unique(n):
  d=str(n)
  f=set(d)
  if len(f)==len(set(f)):
    print("unique number")
  else:
    print("not unique number")

In [ ]:
"""count palindromic subsequence
i/p=abcd
o/p=4
explanation ="a","b","c","d"
i/p=aab
o/p=4
explnation='a','b','a','aa'
"""

In [ ]:
"""you are organising charity where participating contribute a dollar for every even number kilometer they complete .
your task is to find and return an integer value representing the total amount of money raised if the race
is N kilometer long.
i/p=int value
o/p=return sum of all even number kilometers till n
i/p=10
o/p=30
explantion=2+4+6+8+10=30
"""
def charity(n):
  sum=0
  for i in range(0,n+1):
    if i%2==0:
      sum+=i
  return sum
n=int(input())
charity(n)

10

30

In [ ]:
def charity(n):
  sum=0
  for i in range(0,n+1,2):
    sum+=i
  return sum
n=int(input())
charity(n)

20

110

In [ ]:
"""
you are provided two strings s1 and s2 you can perform operatipons such as adding removing swapping letters.
each operation has specific cost value associated with it as shown below.
if a letter is removed from s1 the cost is 0
if a letter are swaped in s1 the cost is 0
if a new letter is added to the end of s1 then cost is 1
your task is to find and return an integer value representing the minimum cost require to transform string s1 to s2.
note s1 and s2  should be upper case
i/p=ABD
AABCCAD
O/P=4

I/P1=XYZ
I/P2=ABC
O/P=3"""
def sequence(s1,s2):
  from collections import Counter
  count_s1=Counter(s1)
  count_s2=Counter(s2)
  cost=0
  for i in count_s2:
    if count_s2[i]>count_s1.get(i,0):
      cost+=count_s2[i]-count_s1[i]
  return cost
s1=input().upper()
s2=input().upper()
sequence(s1,s2)

abd
aabccad

4

In [ ]:
"""
in java braces are used to group statements and declaration together.each opening brace '{' should be accomapnied with a closing brace'}'
otherwise compilation of code would result in afailure.given a piece of code determine wheather the code will give a compilation error or not.
i/p={{{}}
o/p=compilation error

i/p={}}}{{
o/p=compilation error

i/p={}{}{}
o/p=successful
"""
def braces(code):
  stack=[]
  for i in code:
    if i=="{":
      stack.append(i)
    elif i=="}":
      if not stack:
        return "compilation error"
      stack.pop()
  if stack:
    return "compilation error"
  return "succesful"
code=input()
braces(code)

{}{{{}{{}}

'compilation error'

In [ ]:
"""
given a set of numbers one can arrange them in any order but its pays a penalty equal to
the sum of its absolute difference between adjacent numbers.
return the minimum penalty that must be paid.
i/p specification
i/p1=length of an integer penalty that must be paid
i/p2=integer array(1<=input[i]<=10000)
i/p=3
i/p={1,3,2}
o/p=2
"""
def penalty(arr):
  arr.sort()
  penaltyy=0
  for i in range(len(arr)-1):
    penaltyy+=abs(arr[i+1]-arr[i])
  return penaltyy
arr=list(map(int,input().split()))
penalty(arr)

1 5 9 2

8

In [ ]:
"""
Small Large Sum
Write a function SmallLargeSum(array) which accepts the array as an argument or
parameter, that performs the addition of the second largest element from the
even location with the second largest element from an odd location?
Rules:
All the array elements are unique.
If the length of the array is 3 or less than 3, then return 0.
If Array is empty then return zero.
Sample Test Case 1:
Input:
6
3 2 1 7 5 4
Output:
7
Explanation: The second largest element in the even locations (3, 1, 5) is 3. The
second largest element in the odd locations (2, 7, 4) is 4. So the addition of 3 and
4 is 7. So the answer is 7.
Sample Test Case 2:
Input:
7
4 0 7 9 6 4 2
Output:
10"""
def SmallLargeSum(arr):
  a=[]
  b=[]
  if len(arr)>3:
    for i in range(len(arr)):
      if i%2==0:
        a.append(arr[i])
      else:
        b.append(arr[i])
    a.sort(reverse=True)
    b.sort(reverse=True)
    sec_even=a[1] if len(a)>1 else 0
    sec_odd=b[1] if len(b)>1 else 0

  return sec_even+sec_odd
arr=list(map(int,input().split()))
SmallLargeSum(arr)

4 0 7 9 6 4 2

10

In [ ]:
"""2. Check Password
Write a function CheckPassword(str) which will accept the string as an
argument or parameter and validates the password. It will return 1 if
the conditions are satisfied else it’ll return 0?
The password is valid if it satisfies the below conditions:
It should contain at least 4 characters.
At least 1 numeric digit should be present.
1 Capital letter should be there.
Password should not contain space or slash.
The starting character should not be a number.
Sample Test Case:
Input:
bB1_89
Output:
1
"""
def checkpassword(s):
  num='0123456789'

  if s[0] in num:
    return 0
  has_digit=False
  has_upper=False
  for i in s:
    if i.isdigit():
      has_digit=True
    if i.isupper():
      has_upper=True
    if i=='/':
      return 0
  if has_digit and has_upper:
    return 1
  else:
    return 0
s=input()
checkpassword(s)

dcdBBB___#$$12

1

In [ ]:
"""3. Calculate Binary Operations
Write a function CalculateBinaryOperations(str) that accepts the string
as an argument or parameter. The string should contains the binary
numbers with their operators OR, AND, and XOR?
A Means the AND Operation.
B Means the OR Operation.
C Means the XOR Operation.
By scanning the given string from left to right you’ve to calculate the
string and by taking one operator at a time then return the desired
output.
Conditions:
The priority of the operator is not required.
The length of the string is always Odd.
If the length of the string is null then return -1.
Sample Test Case:
Input:
1C0C1C1A0B1
Output:
1"""
def binary_operation(s):
  if str is None:
    return -1
  result=int(str[0])
  for i in range(1,len(s),2):
    if i=='A':
      result&=i
    if i=='B':
      result||=i
    if i=='C':
      result^=i



s=input()
binary_operation(s)

In [ ]:
"""12. QUESTION
You are given a function,
int findCount(int arr[], int length, int num, int diff);
The function accepts an integer array ‘arr’, its length and two integer
variables ‘num’ and ‘diff’. Implement this function to find and return
the number of elements of ‘arr’ having an absolute difference of less
than or equal to ‘diff’ with ‘num’.
Note: In case there is no element in ‘arr’ whose absolute difference
with ‘num’ is less than or equal to ‘diff’, return -1.
Example:
Input:
arr: 12 3 14 56 77 13
num: 13
diff: 2
Output:
3
Explanation:
Elements of ‘arr’ having absolute difference of less than or equal to
‘diff’ i.e. 2 with ‘num’ i.e. 13 are 12, 13 and 14."""
def findcount(arr,num,diff):
  if arr is None:
    return -1
  count=0
  for i in arr:
    if abs(num-i)<=diff:
      count+=1
  return count

arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
findcount(arr,num,diff)

12 3 14 56 77 13
13
2

3

In [ ]:
"""11. Question
The function accepts two positive integers ‘r’ and ‘unit’ and a positive
integer array ‘arr’ of size ‘n’ as its argument ‘r’ represents the number
of rats present in an area, ‘unit’ is the amount of food each rat
consumes and each ith element of array ‘arr’ represents the amount of
food present in ‘i+1’ house number, where 0 <= i.
Note:
1. Return -1 if the array is null
2. Return 0 if the total amount of food from all houses is not sufficient
for all the rats.
3. Computed values lie within the integer range.
Example:
Input:
r: 7
unit: 2
n: 8
arr: 2 8 3 5 7 4 1 2
Output:
4
Explanation:
Total amount of food required for all rats = r unit
= 7 2 = 14.
The amount of food in 1st houses = 2+8+3+5 = 18. Since, the amount of
food in 1st 4 houses is sufficient for all the rats. Thus, output is 4."""
def rats(r,units,n,arr):
  if arr is None:
    return -1
  total=r*units
  n=len(arr)
  sum=0
  house_count=0
  for i in arr:
    sum+=i
    house_count+=1
    if sum>total:
      return house_count
  return -1



r=int(input())
units=int(input())
n=int(input())
arr=list(map(int,input().split()))
rats(r,units,n,arr)

7
2
8
2 8 3 5 7 4 1 2

4

In [ ]:
"""10. Reverse a String
Write a function that will accept strings from the user and will reverse
the string word-wise. The last word will come as the first word in the
output and vice versa?
Sample Test Case 1:
Input:
terv pro
Output:
pro terv
Explanation:
The reverse string word-wise function is applied.
Sample Test Case 2:
Input:
Welcome to Sunday samayal
Output:
samayal Sunday to Welcome"""
def reverse(s):
  if str is None:
    return -1
  word=s.split()
  reversed_word=word[::-1]
  reverse_str=" ".join(reversed_word)
  return reverse_str

s=input()
reverse(s)

Welcome to Sunday samayal

'samayal Sunday to Welcome'

In [ ]:
"""9. Replace Character
Write a function Replacecharacter(Char str1, Char ch1, Int 1, Char ch2)
which has a string(str) and the two characters ch1 and ch2. Execute a
function in such a way that string str will return to its original string,
and all the events in ch1 are replaced by ch2 and vice versa?
Consider: The strings will have only alphabets in lower case.
Sample Test Case:
Input:
str: tervpro
ch1: e
ch2: p
Output:
tprvero
Solution:
All the ‘e’s in the string are replaced with the ‘p’ and ‘p’ is replaced with
the ‘e’."""
def replace(s,ch1,ch2):
  d=s.lower()
  result=""
  for i in d:
    if i==ch1:
      result+=ch2
    elif i==ch2:
      result+=ch1
    else:
      result+=i
  return result
s=input()
ch1=input()
ch2=input()
replace(s,ch1,ch2)

tervpro
e
p

'tprvero'

In [ ]:
"""
15. MATHS IS FUN
You are required to implement the following function:
int Calculate(int m, int n);
The function accepts 2 positive integers ‘m’ and ‘n’ as its arguments.You
are required to calculate the sum of numbers divisible both by 3 and 5,
between ‘m’ and ‘n’ both inclusive and return the same.
Note
0 < m <= n
Example
Input:
m : 12
n : 50
Output
90
Explanation:
The numbers divisible by both 3 and 5, between 12 and 50 both
inclusive are {15, 30, 45} and their sum is 90.
Sample Input
m : 100
n : 160
Sample Output
510"""
def maths_fun(m,n):
  sum=0
  if m<=n:
    for i in range(m,n):
      if i%3==0 and i%5==0:
        sum+=i
  return sum
m=int(input())
n=int(input())
maths_fun(m,n)

100
160

510

In [ ]:
"""you are on a hiking trail representing by an array of length N.where the trail initially
 ascend and then descends forming a single peak your task is to find and return an integer value representing the elevation of the summit.
 i/p specification:
 take an array of A
 and n is the length of an array
 o/p specification:
 return an integer value represeenting the elevation of summit.
 ex1:{1,2,3,4,3,2,1}
 7
 o/p=4

 ex2={5,3}
 2
 o/p=5
"""
def peak(arr,n):
  if n==0:
    return None
  if n==1:
    return arr[0]
  for i in range(n-1):
    if arr[i]>arr[i+1]:
      return arr[i]
n=int(input())
arr=list(map(int,input().split()))
peak(arr,n)

9
7 8 9 10 11 10 9 8 7

11

In [ ]:
"""tom has a juice shop having m and n juice machines.m is big machine that makes juice for 100 customers and n is a small
machine that makes juice for 4 customers.
m consume spower x units of power while n consumes y units of power you task is to find and return an
 integer representing the minimum number of units of power of tom machine consume to p customers he can run any combination of m and n
 i/p=p is no of customer
 x is units of power in m machine
 y is units of power in n machine
i/p:
p=105
x=80
y=10
o/p=100
 o/p=return an int value representing minimum units of power tom will use to serve p customers while any combination of m and n
"""
def minimum_power(p, x, y):
    min_power = float('inf')  # Start with a large number for minimum power

    # Loop through possible counts of big machines
    for big_machines in range((p // 100) + 1):
        customers_served_by_big = big_machines * 100
        remaining_customers = p - customers_served_by_big

        # Calculate the number of small machines needed
        small_machines = (remaining_customers + 3) // 4  # +3 to round up

        # Calculate total power consumption for this combination
        total_power = big_machines * x + small_machines * y

        # Update minimum power if this is the best combination found
        min_power = min(min_power, total_power)

    return min_power

# Input
p = 105  # Number of customers
x = 80   # Power consumption of a big machine
y = 10   # Power consumption of a small machine

# Output
print(minimum_power(p, x, y))  # Expected Output: 100

100

In [ ]:
#18. Write a program to find all permutations of a string.
def permutations(s):
    if len(s) == 0:
        return ['']
    perm_list = []
    for i in range(len(s)):
        remaining = s[:i] + s[i+1:]
        for perm in permutations(remaining):
            perm_list.append(s[i] + perm)

    return perm_list
s = input()
print(permutations(s))

abcd
['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']

In [ ]:
#17. Write a program to find the length of the longest palindrome subsequence in a string.
def palindrome(str):
  d=str[::-1]
  if d==str:
    return True
  else:
    return False



def longest_palindrome(str):
  for i

In [ ]:
"""
frequency count
given the string,find the frequency of each character in it.
the input string contains only lowercase letter .the output string should
contains a letter followed by its frequency ,in the alphabetical order(from a-z)
i/p=babdc
o/p=a1b2c1d1

i/p=cbd
o/p=b1c1d1"""
def frequency_count(str):
  freq_count={chr(i):0 for i in range(97,123)}
  for i in str:
    freq_count[i]+=1
  output_str=''
  for i in sorted(freq_count):
    if freq_count[i]>0:
      output_str+=f"{i}{freq_count[i]}"
  return output_str
s=input()
frequency_count(s)

wwsasaswdw

'a2d1s3w4'

In [ ]:
"""nth character in decrypted string
every character in the input string is followed by its frequency.
write a function to decrypted the string and find nth character of the decrypted string if no character exists at the position then return "-1
for example:if the input string is a2b3,the decrypted string will be aabbb
note:the frequency of encrypted string cannot be greater than single digit i.e<10.
ex:
i/p=a2b2c2d1
i/p2=5

o/p=c
""

In [ ]:
"""you are given array A having some dividends further you are given 3 numbers D,Q AND R.A is dividend can be found using a rule that states.
dividend=divisor*quotient+remainder
your task is to find and return inetger value representing the index of the dividend.
if present in array.if dividend not found return -1
i/p=A=[15,10,30,25,50]
D=5
Q=2
R=5

o/p=0 index
explanation=the dividend 15 is present at index 0 in the array A,so the function returns 0
5*2+5=15"""


def navya(arr,d,q,r):
  p=[]
  div=d*q+r
  for i in range(len(arr)):
    if div==arr[i]:
      p.append(i)
  return p



arr=list(map(int,input().split()))
d=int(input())
q=int(input())
r=int(input())
navya(arr,d,q,r)

10 20 15 30 25 15
5
2
5

[2, 5]

In [ ]:
"""bob goes to super market to shop candies represented by an array A for halloween party ,his mother gave hime some money
M.due to the festive season there are several offers in the supermarket. one such offer useful for bob is it,if the price of
the candy is a multiple of 5 he can but it without spending any money equal to a which is the
price of a particular candy bob can shop as long as he has money .your task is to find and return the maximum number of candies bob can buy.

note:assume 1-based indexing
i/p arr=[5,10,12,15,7,6]
m=20

o/p=5"""

def candies(arr,m):
  count=0
  for i in arr:
    if i%5==0:
      count+=1
    elif i<=m:
      count+=1
      m-=i
  return count

arr=list(map(int,input().split()))
m=int(input())
candies(arr,m)

24 435 4433 32 45 43422545
23232343445

6

In [ ]:
"""john is trying to determine wheather a number is prime for a math project a prime number is defined as a number greater
than 1 that has no divisors other than 1 and itself he needs to write a program that checks if a given number is prime .
if the number is prime the program should ouput 1,otherwise it should output 0.help john by writing a program that reads an integer n and
prints 1 if it is a prime number and 0 if it is not.
i/p=a single integer n

output
print 1 if n is a prime numbre
print 0 if n is not a prime number"""

def prime(n):
  for i in range(2,n):
    if n%i==0:
      return 0
      break
  return 1
n=int(input())
prime(n)

5

1

In [ ]:
"""a young boy finds it difficult to read words that are morethan 10 letters long.
to help him you need o write a program that shortens such words specifically for any words longer than
10 letters the program should convert it into a format where only the first letter the number
of letter in between and the last letter are kept for example the word "demonstration" becomes d11n.
your task is to implement and produce a modified sentence according to the rules described
i/p=
a single string sentence that contains words separted by spaces

o/p=an modified string where words longer than 10 letters are shortened as described.

example:
i/p=the demonstration of government laws makes it difficult to understand
o/p=the d11n of g8t laws makes it d7t to u8d """

def thikka(s):
  d=[]
  for i in s:
    if len(i)>=9:
      t=i[0]+str(len(i)-2)+i[-1]
      d.append(t)
    else:
      d.append(i)
  return ' '.join(d)



s=input().split()
thikka(s)

the demonstration of government laws makes it difficult to understand

'the d11n of g8t laws makes it d7t to u8d'

In [ ]:
"""write a program in c to diaplay the table of a number and print the sum of all the multiples in it."""
def multiple(n):
  sum=0
  for i in range(1,11):
    p=i*n
    sum+=p
    print(p,end=" ")
  return sum
n=int(input())
multiple(n)

5
5 10 15 20 25 30 35 40 45 50

275

In [ ]:
"""alice has a peculiar fondness for string without any interruption she consider a comma "," as an interruption you
are given a string s and you task is to find and return the length of the longest uninterrupted substring to match alices
fondness
i/p=a string value s
o/p=return an int value representing the length of the longest fondness

i/p=abc,b,cc
o/p=3
explanation={abc,b,cc}longest substring is abc length is 3"""
def fondness(s):
  p=0
  for i in s:
    p= max(len(i),p)
  return p
s=input().split(",")
fondness(s)

dnjdjs,fnkvnfv,ekfekfke

8

In [ ]:
"""in atech startup the teamlead faced a software bug the zeros in their data output were causing their system to crash
a junior developer suggested replacing all the 0's with 5's as a quick by implementing this simple code tweak,they stabilized the system
your task is to ind and return an integer value representing the value that stabilizes the system.
i/p=an integer value
o/p=return integer value representing the value that stabilizes the system.

i/p=100067
o/p=155567"""
def bug(n):
  return n.replace("0","5")
n=input()
bug(n)

100067

'155567'

In [ ]:
"""bouncing ball
return no of distance the ball travels
formula:h*pow(en,2)
en=velocity /no of bounce
i/p=height=10
velocity=20
bounce=5
o/p=160"""
def bounce(h,v,b):
  en=v//b
  return h*pow(en,2)
h=int(input())
v=int(input())
b=int(input())
bounce(h,v,b)

10
20
5

160